@use '../abstracts/tokens' as tokens;

.about__card {
	padding: 1.6rem;
	border-radius: 0.8rem;

	&--position {
		display: flex;
		flex-wrap: wrap;
		background-color: #d1d1d1;
	}

	&--contact {
		background-color: transparent;
		border: 2px solid #d1d1d1;
		border-radius: 1rem;
	}

	.about__card__item {
		&:not(:last-child) {
			white-space: nowrap;
			margin-bottom: 0.6rem;
			margin-right: 1.6rem;
		}
	}
}
