@use '../abstracts/tokens' as tokens;

.button {
	display: inline-block;
	border: 2px solid tokens.$clr-primary-black;
	border-radius: 12rem;
	padding: 0.6rem 1.6rem;
	box-sizing: border-box;
	color: tokens.$clr-primary-black;
	background-color: transparent;
	white-space: nowrap;
}

.button:hover {
	background-color: tokens.$clr-primary-black;
	color: tokens.$clr-primary-white;
}

.button--dark {
	display: inline-block;
	border: 2px solid tokens.$clr-primary-black;
	border-radius: 12rem;
	padding: 0.6rem 1.6rem;
	box-sizing: border-box;
	color: tokens.$clr-primary-white;
	background-color: tokens.$clr-primary-black;
}

.button--dark:hover {
	background-color: transparent;
	color: tokens.$clr-primary-black;
}