@use '../abstracts/tokens' as tokens;

.heading {
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 4.2rem;

	&--light {
		background-color: #ffffff;
		color: tokens.$clr-primary-black;
	}

	&--dark {
		background-color: tokens.$clr-primary-black;
		color: #ffffff;
	}

	&--orange {
		background-color: tokens.$clr-accent-orange;
		color: tokens.$clr-primary-black;
	}

	&--green {
		background-color: tokens.$clr-accent-green;
		color: tokens.$clr-primary-black;
	}

	&--purple {
		background-color: tokens.$clr-accent-purple;
		color: tokens.$clr-primary-black;
	}
}
