@use '../abstracts/tokens' as tokens;

.heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 4.2rem;
}

.heading--light {
	background-color: #ffffff;
	color: tokens.$clr-primary-black;
}

.heading--dark {
	background-color: tokens.$clr-primary-black;
	color: #ffffff;
}

.heading--orange {
	background-color: tokens.$clr-accent-orange;
	color: tokens.$clr-primary-black;
}
