.home-sticker {
	position: fixed;
	z-index: 2000;
	top: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 4.6rem;
	pointer-events: none;

	img {
		height: clamp(1.6rem, 10vw, 3rem);
		width: clamp(1.6rem, 10vw, 3rem);
	}
}
