.contact__section {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.contact__content {
		display: flex;
		flex-direction: row;
		height: 100%;
	}
	.contact_section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		.links {
			display: flex;
			flex-direction: row;
			gap: 3rem;
		}

		.links > * {
			transition: text-decoration 0.3s;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.contact__graphic img {
	height: 100%;
}
