@use '../abstracts/tokens' as tokens;
@use '../abstracts/mixins' as mixins;

.contact {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: tokens.$clr-accent-green;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;
	}

	&__main h1 {
		font-size: tokens.$fs-xxl;
		padding-bottom: 3rem;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&-links {
			display: flex;
			flex-direction: row;
			gap: 3rem;
		}

		.contact__footer-links > * {
			transition: text-decoration 0.3s;
		}

		.contact__footer-links > *:hover {
			text-decoration: underline;
		}

		@include mixins.breakpoint(sm) {
			.contact__footer-links {
				flex-direction: column;
				gap: 1rem;
			}
		}
	}
}
