.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 clamp(1rem, 5%, 5rem);
	box-sizing: border-box;

	&--section {
		width: 100%;
		margin: 0 auto;
		padding: clamp(1rem, 5%, 3rem) clamp(1rem, 5%, 5rem);
		box-sizing: border-box;
	}

	&--contact {
		padding: clamp(1rem, 5%, 3rem) clamp(1rem, 5%, 5rem) 1rem clamp(1rem, 5%, 5rem);
	}
}
