@use "variables";

/**

Breakpoints
************

Usage:

@include breakpoint(sm) {
  // Styles
}

**/

@mixin breakpoint($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

/*

Typography
**********

*/

@mixin font-weight-light {
  font-weight: 300;
}

@mixin font-weight-bold {
  font-weight: 700;
}