@use '../abstracts/tokens' as *;

.light {
	font-weight: $fw-sm;
}

.fw-regular {
	font-weight: $fw-md;
}

.bold {
	font-weight: $fw-lg;
}

p {
	font-size: 1rem;
}

h3 {
	font-size: 2rem;
}

h1 {
	font-size: $fs-xl;
}