/*
Font Family
***********
*/

$ff-primary: 'clash-grotesk', sans-serif;
$ff-secondary: 'Open Sans', sans-serif;

/*
Font Sizes
***********
*/

$fs-xxl: clamp(3rem, 8vw + 1.5rem, 8rem);
$fs-xl: clamp(2.6rem, 6vw + 1rem, 6rem);
$fs-lg: clamp(1rem, 2vw + 1rem, 3rem);
$fs-md: clamp(1rem, 1.6rem, 1.8rem);
$fs-sm: clamp(1rem, 1.5vw + 0.75rem, 2rem);
$fs-xs: clamp(0.75rem, 1vw + 0.5rem, 1.25rem);

/*
Font Weights
**************
*/

$fw-xs: 200;
$fw-sm: 300;
$fw-md: 400;
$fw-lg: 600;
$fw-xl: 700;

/*
Colors
********
*/

$clr-primary-black: #000000;

$clr-accent-green: #cbee4c;
$clr-accent-orange: #f2c94c;

/*
Line Heights
************
*/

$lh-base: 1.5;
$lh-lg: 1.6;
$lh-sm: 1.4;

/*
Breakpoints
************
*/

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
