@use "../abstracts/colors";
@use "../abstracts/variables";

body {
  font-family: "clash-grotesk", sans-serif;
  color: colors.primary-grey(200);
  background-color: colors.primary-grey(800);
}

h1 {
  font-size: variables.$fs-xl;
  line-height: 0.9;
  
}

h2 {
  font-size: variables.$fs-sm;
}
