@use "../abstracts/colors";
@use "../abstracts/variables";

body {
  font-family: "clash-grotesk", sans-serif;
  color: colors.primary-grey(100);
  background-color: colors.primary-grey(800);
}

h1 {
  font-size: variables.$fs-xl;
  font-weight: variables.$fw-bold;
  line-height: 0.9;
}

h2 {
  font-size: variables.$fs-md;
  font-weight: variables.$fw-semi-bold;
}
